html {
    scroll-behavior: smooth;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin-top: 80px;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.highlight {
    font-weight: bold;
    color: #4287f5;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.2em;
    color: #666;
}

.carousel {
    position: relative;
    width: 56%;
    height: 400px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 2px solid #f0f0f0;
    transition: transform 0.3s ease-in-out;
}

.carousel:hover {
    transform: scale(1.02);
}

.carousel-item {
    justify-content: center;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

.carousel-item.active {
    display: flex;
    align-items: center;
    padding: 0px 30px;
}

.carousel-content {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 58px;
    color: #333;
    font-family: 'Arial', sans-serif;
    justify-content: center;
}

.carousel-image {
    width: 50%;
    padding: 15px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.carousel-item.active svg {
    width: 200px;
    height: 200px;
}

.carousel-item.active .svg-top svg {
    margin-bottom: 10px;
    width: 140px;
    height: 140px;
    transition: all 0.3s ease;
}

.carousel-item.active .svg-bottom svg {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 75px;
    height: 75px;
    transition: all 0.3s ease;
}

.carousel-description {
    justify-content: left;
    width: 50%;
    padding: 55px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(36, 81, 204, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

button:hover {
    background-color: #5f7ee6;
}


.dark-theme {
    background-color: #131212;
    color: #f3eded;
}

.dark-theme .container {
    background-color: #1e1e1e;
    color: #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dark-theme h1 {
    color: #e0e0e0;
}

.dark-theme .highlight {
    font-weight: bold;
    color: #3c90d4;
}

.dark-theme p {
    color: #cec8c8;
}

.dark-theme .carousel-description p {
    color: #1b1b1b;
}

.dark-theme .carousel {
    background-color: #a5a2a2;
    border: 2px solid #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.dark-theme .carousel:hover {
    transform: scale(1.02);
}

.dark-theme .carousel-content {
    color: #e0e0e0;
}

.dark-theme button {
    background-color: rgba(85, 85, 85, 0.7);
}

.dark-theme button:hover {
    background-color: #666;
}

@media (max-width: 1465px) {
    .carousel-description {
        justify-content: left;
        width: 50%;
        padding: 5px;
        font-size: 24px;
    }
}

@media (max-width: 1125px) {
    .carousel-description {
        justify-content: left;
        width: 50%;
        padding: 5px;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .carousel {
        width: 97%;
        height: 300px;
    }
    .carousel-description {
        font-size: 15px;
        justify-content: left;
        width: 40%;
        padding: 5px;
    }

    .container {
        padding: 0px;
        width: 90%;
    }
}

@media (max-width: 450px) {
    .carousel {
        width: 95%;
        height: 250px;
    }
    .carousel-description {
        font-size: 13px;
        padding: 5px;
        justify-content: left;
        width: 40%;
    }
}